.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.produto {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;
  width: 200px;

  text-align: center;
  background-color: #f0e8e8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.produto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  background-color: beige;
}

.produto button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
}

.produto button:hover {
  background-color: #4338ca;
}

.img-produto {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}